#grid{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

#gridSquare{
    display: flex;    
    width: 31.25px;
    height: 31.25px;
    user-select: none; /*prevent dragging*/
    border-radius: 1px; 
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);  /*grid lines*/
}