#grid{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

#gridSquare{
    display: flex;    
    width: 31.25px;
    height: 31.25px;
    user-select: none; /*prevent dragging*/
    border-radius: 1px; 
}

.slidecontainer{
    width: 100%;
}

.slider{
    appearance: none;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    user-select: none;
    transition: opacity .2s;
}

.slider:hover{
    opacity: 1;
}